body {
  margin    : 0;
  width     : 100%;
  text-align: center;
}


#content {
  text-align: center;
  margin-top: 100px;
}

#content p {
  margin: 0;
}

#content #temp,
#content #humid {
  font-size   : 380px;
}

#content #spacer {
  margin-bottom: 250px;
}

#content span.value {
  margin: 0;
}

#content span.unit {
  margin-left: 0px;
  font-size  : 180px;
}